
#sketch-holder{
    text-align: center;
}
#sliderbox{
    width:310px; /* sample value - set it as you like*/
    
    margin-top: -6px;
    margin-left: 20px;
}
#title{
    font-family: 'Megrim';
    font-size: 45px;
}
#control-frame{
    width: 800px;
    height: 34px;
}

#pause-play{
    width:72px;
}

#gradient-switch{
    width: 98px;
}

#customize-info{
    width: 340px;
    height: 34px;
}
.sliderbox-col{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.sliderbox-row{
   height: 20px;
}

.btn{
	box-shadow: none !important;
}

.dropdown-menu{
    width: 113px !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #8064A2 !important;
}

.replay-options{
    padding-top: 6px;
    padding-bottom: 3px;
}